/* *** mystyle.module.css ***
Must name as above to use the css like the website format */

/* body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  } */

.bigblue {
    color: DodgerBlue;
    padding: 400px;
    font-family: Arial;
    text-align: center;
}